name: AQI & Weather Hourly Fetch

on:
  schedule:
    - cron: "0 * * * *"   # every hour
  workflow_dispatch:

jobs:
  fetch_data:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Fetch AQI
      run: python data_ingestion/fetch_aqi.py
      env:
        AQICN_API_KEY: ${{ secrets.AQICN_API_KEY }}
        CITY: ${{ secrets.CITY }}

    - name: Fetch Weather
      run: python data_ingestion/fetch_weather.py
      env:
        OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}
        CITY: ${{ secrets.CITY }}
        LAT: ${{ secrets.LAT }}
        LON: ${{ secrets.LON }}

    - name: Upload raw data
      uses: actions/upload-artifact@v4
      with:
        name: raw-data
        path: data/raw/
